html
  head
    title partybot
    meta(name="description" content="A questionable bot that does frivilous things.")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    - var invite_url = "https://discordapp.com/api/oauth2/authorize?client_id=" + client_id + "&permissions=3072&scope=bot"

    p This is my heckin cool bot. You can #[a(href=invite_url) invite it to your server] I guess.

    h2 Endpoints

    p
      | All endpoints must have a #[code token] parameter provided in
      | the query string. This keeps randos from spamming the Discord API on our behalf.
    ul
      li
        | #[code api/get-messages/:channel_id] &mdash; get recent messages in a channel
        | (and say a brief message)

