*, *:after, *:before {
  box-sizing: border-box;
}

@mixin med {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 900px) {
        @content;
    }
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;

  @include med {
      margin-top: 30px;
  }

  @include lg {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
  }
}
